/* Pon tu código css aqui */
body{
	margin: 0;
	padding: 0;
}

.block {
	width: 200px;
	height: 200px;
	position: static;
}

.rosado {
	background-color: #EE3E64;
}

.azul {
	background-color: #44ACCF;
	position: absolute;
	left: 200px;
	top: 200px;
}

.verde {
	background-color: #B7D84B;

}
.amarillo {
	background-color: #FFFF00;

}